
 @import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

main{
  height: 100%;
}
:root {
  --bg: #1a1e24;
  --color: #eee;
  --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}


.codeBy {
  font-family: "Droid Sans", arial, verdana, sans-serif;
  position: relative;
  color: #ff6;
  margin-top: 22%;
  margin-left: 1%;
  animation: code 27s ease
}
@keyframes code {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.button{
  position:relative;
  display: flex;
  justify-content: center;
  margin-top: 25%;
  animation: boton 27s ease-out;
}
@keyframes boton {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.button a{
  color:#ff6;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
  border: 1px solid #ff6;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px black;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:black;
  
  -webkit-box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, inset 0 -3pxpx 0 black;
  box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.splash-screen {

  height: 790px; 
  width: 100%;
  background-color: black;
}

.splash-screen  h1{
  color: white;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.splash-screen button {
  margin-left: 45%;
  width: 150px;
  color: white;
  background-color: black;
  border: none;
  font-size: 3em;
}


.game-over {
  /* display: flex; */
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.game-over h1 {
  color: white;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}


 * { padding: 0; margin: 0; }
 
 body, html
 {
   width: 100%;
   height: 100%;
   font-family: "Droid Sans", arial, verdana, sans-serif;
   font-weight: 700;
   color: #ff6;
   background-color: #000;
   overflow: hidden;
 }
 
 p#start
 {
   position: relative;
   width: 300px;
   font-size: 200%;
   font-weight: 400;
   margin: 5% auto;
   color: #4ee;
   opacity: 0;
   z-index: 1;
   animation: intro 2s ease-out;
 }
 
 @-webkit-keyframes intro {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 @-moz-keyframes intro {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 @-ms-keyframes intro {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 @-o-keyframes intro {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 @keyframes intro {
   0% { opacity: 1; }
   90% { opacity: 1; }
   100% { opacity: 0; }
 }
 
 h1
 {
   position: absolute;
   width: 3em;
   left: 50%;
   top: 10%;
   font-size: 10em;
   text-align: center;
   margin-left: -1.3em;
   line-height: 0.8em;
   letter-spacing: -0.05em;
   color: #000;
   text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
   opacity: 0;
   z-index: 1;
   -webkit-animation: logo 5s ease-out 2.5s;
   -moz-animation: logo 5s ease-out 2.5s;
   -ms-animation: logo 5s ease-out 2.5s;
   -o-animation: logo 5s ease-out 2.5s;
   animation: logo 5s ease-out 2.5s;
 }
 
 h1 sub
 {
   display: block;
   font-size: 0.3em;
   letter-spacing: 0;
   line-height: 0.8em;
 }
 
 @-webkit-keyframes logo {
   0% { -webkit-transform: scale(1); opacity: 1; }
   50% { opacity: 1; }
   100% { -webkit-transform: scale(0.1); opacity: 0; }
 }
 
 @-moz-keyframes logo {
   0% { -moz-transform: scale(1); opacity: 1; }
   50% { opacity: 1; }
   100% { -moz-transform: scale(0.1); opacity: 0; }
 }
 
 @-ms-keyframes logo {
   0% { -ms-transform: scale(1); opacity: 1; }
   50% { opacity: 1; }
   100% { -ms-transform: scale(0.1); opacity: 0; }
 }
 
 @-o-keyframes logo {
   0% { -o-transform: scale(1); opacity: 1; }
   50% { opacity: 1; }
   100% { -o-transform: scale(0.1); opacity: 0; }
 }
 
 @keyframes logo {
   0% { transform: scale(1); opacity: 1; }
   50% { opacity: 1; }
   100% { transform: scale(0.1); opacity: 0; }
 }
 
 /* the interesting 3D scrolling stuff */
 #titles
 {
   position: absolute;
   width: 18em;
   height: 50em;
   bottom: 0;
   left: 50%;
   margin-left: -9em;
   font-size: 350%;
   text-align: justify;
   overflow: hidden;
   -webkit-transform-origin: 50% 100%;
   -moz-transform-origin: 50% 100%;
   -ms-transform-origin: 50% 100%;
   -o-transform-origin: 50% 100%;
   transform-origin: 50% 100%;
   -webkit-transform: perspective(300px) rotateX(25deg);
   -moz-transform: perspective(300px) rotateX(25deg);
   -ms-transform: perspective(300px) rotateX(25deg);
   -o-transform: perspective(300px) rotateX(25deg);
   transform: perspective(300px) rotateX(25deg);
 }
 
 #titles:after
 {
   position: absolute;
   content: ' ';
   left: 0;
   right: 0;
   top: 0;
   bottom: 60%;
   background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
   background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
   background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
   background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
   background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
   pointer-events: none;
 }
 
 #titles p
 {
   text-align: justify;
   margin: 0.8em 0;
 }
 
 #titles p.center
 {
   text-align: center;
 }
 
 #titles a
 {
   color: #ff6;
   text-decoration: underline;
 }
 
 #titlecontent
 {
   position: absolute;
   top: 100%;
   /* -webkit-animation: scroll 100s linear 4s infinite;
   -moz-animation: scroll 100s linear 4s infinite;
   -ms-animation: scroll 100s linear 4s infinite;
   -o-animation: scroll 100s linear 4s infinite; */
   animation: scroll 30s linear 4s ;
 }
 
 /* animation */
 @-webkit-keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
 }
 
 @-moz-keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
 }
 
 @-ms-keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
 }
 
 @-o-keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
 }
 
 @keyframes scroll {
   0% { top: 100%; }
   100% { top: -170%; }
 }
 .restart{
  position:relative;
  /* display: flex; */
  justify-content: center;
  margin-top: 5%;
  margin-left: 35%;
  /* animation: boton 27s ease-out; */
}
@keyframes boton {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.restart a{
  color:#ff6;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
  border: 1px solid #ff6;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px black;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.restart a:active{
  top:10px;
  background-color:black;
  
  -webkit-box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, inset 0 -3pxpx 0 black;
  box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
}

.restart:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu{
  position:relative;
  /* display: flex; */
  justify-content: center;
  margin-top: 5%;
  /* animation: boton 1s ease-out; */
}


.menu a{
  color:#ff6;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
  border: 1px solid #ff6;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px black;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  box-shadow:inset 0 1px 0 black, 0 10px 0 black;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu a:active{
  top:10px;
  background-color:black;
  
  -webkit-box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
  -moz-box-shadow:inset 0 1px 0 black, inset 0 -3pxpx 0 black;
  box-shadow:inset 0 1px 0 black, inset 0 -3px 0 black;
}

.menu:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.finalGame {
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  font-size: 10em;
  text-align: center;
  margin-top: 10%;
}