@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
body, html{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  background-color: #000;
  overflow: hidden;
}
main{
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
}
/* .codeBy {
  font-family: "Droid Sans", arial, verdana, sans-serif;
  position: relative;
  color: #ff6;
  margin-top: 0%;
  margin-left: 1%;
  margin-right: -0;
  animation: code 25s ease;
  z-index: 100;
  width: 200px;
} */
@keyframes code {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.splash-screen img {
  margin-left: 20%;
  margin-top: 15%;
  animation: anakin 26s ease-out;
}
@keyframes anakin {
  0% { opacity: 0; }
  50% { opacity: 0.2; }
  90% { opacity: 0.6; }
  100% { opacity: 1; }
}

.button{
  position:relative;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  animation: boton 26s ease-out;
}
@keyframes boton {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}
.button a{
  color:#ff6;
  font-family:"Droid Sans", arial, verdana, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
}
.button a:hover{
  border: 1px solid #ff6
}
.controls{
  position:relative;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  animation: control 26s ease-out;
}
@keyframes control {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}
.controls a{
  color:#ff6;
  font-family:"Droid Sans", arial, verdana, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
}
.controls a:hover{
  border: 1px solid #ff6
}
.splash-screen {
  height: 790px; 
  width: 100%;
  background-color: black;
}
.splash-screen  h1{
  color: white;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.splash-screen button {
  margin-left: 45%;
  width: 150px;
  color: white;
  background-color: black;
  border: none;
  font-size: 3em;
}
.game-over {
  /* display: flex; */
  height: 100%;
  width: 100%;
  background-image: "images/rompeDaver.gif";
}
.game-over h1 {
  color: white;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
 * { padding: 0; margin: 0; }
p#start {
  position: relative;
  width: 300px;
  font-size: 200%;
  font-weight: 400;
  margin: 5% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  animation: intro 2s ease-out;
}

@keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
h1 {
  position: absolute;
  width: 3em;
  left: 50%;
  top: 10%;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  opacity: 0;
  z-index: 1;
  /* -webkit-animation: logo 5s ease-out 2.5s;
  -moz-animation: logo 5s ease-out 2.5s;
  -ms-animation: logo 5s ease-out 2.5s;
  -o-animation: logo 5s ease-out 2.5s; */
  animation: logo 5s ease-out 2.5s;
}
h1 sub{
  display: block;
  font-size: 0.3em;
  letter-spacing: 0;
  line-height: 0.8em;
}
@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}
#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  /* -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%; */
  transform-origin: 50% 100%;
  /* -webkit-transform: perspective(300px) rotateX(25deg);
  -moz-transform: perspective(300px) rotateX(25deg);
  -ms-transform: perspective(300px) rotateX(25deg);
  -o-transform: perspective(300px) rotateX(25deg); */
  transform: perspective(300px) rotateX(25deg);
}
#titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  /* background-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%); */
  background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
}
#titles p {
  text-align: justify;
  margin: 0.8em 0;
}
#titles p.center {
  text-align: center;
}
#titles a{
  color: #ff6;
  text-decoration: underline;
}
#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 4s ;
}
@keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}
.restart{
  position:relative;
  /* display: flex; */
  width: 200px;
  height: 200px;
  justify-content: center;
  margin-top: 5%;
  margin-left: 40%;
  animation: botonRestart 3s ease-out; 
}
@keyframes botonRestart {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

.restart a{
  color:#ff6;
  font-family:"Droid Sans", arial, verdana, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:none;
  display:block;
  position:relative;
  padding:20px 40px;
}
.restart a:hover{
  border: 5px solid #ff6;
  border-radius: 25px;
}
.menu{
  position:relative;
  /* display: flex; */
  justify-content: center;
  margin-top: 5%;
  animation: botonMenu 3s ease-out; 
  width: 200px;
  height: 200px;
}
@keyframes botonMenu {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}
.menu a{
  color:#ff6;
  font-family:"Droid Sans", arial, verdana, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:none;
  display:block;
  position:relative;
  padding:20px 40px;
}
.menu a:hover{
  border: 5px solid #ff6;
  border-radius: 25px;
}
.finalGame {
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  font-size: 10em;
  text-align: center;
  margin-top: 10%;
  animation: gameOver 3s ease-out;
  z-index: 100;
}
@keyframes gameOver {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}
.containerAll{
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  flex-direction: row;
}
.score{
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 300;
  color: #ff6;
  font-size: 2em;
  text-align: center;
  animation: score 3s ease-out;
  z-index: 100;
}
@keyframes score {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}
.highScore{
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 100;
  color: #ff6;
  font-size: 1em;
  text-align: center;
  animation: score 3s ease-out;
  z-index: 100;
}
@keyframes highScore {
  0% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 1; }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /* z-index: -100; */
}

.controls-screen{
  width: 100%;
  height: 790px;
}
#keyboard-controls{
  
  margin-top: 2%;
  margin-left: 33%;
}

.howToPlay{
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 300;
  color: #ff6;
  font-size: 5em;
  text-align: center;
  margin-top: 3%;
}
.backMenu{
  position:relative;
  display: flex;
  
  margin-top: 12%;
  margin-left: 1%;
  /* animation: control 1s ease-out; */
}
.backMenu a{
  color:#ff6;
  font-family:"Droid Sans", arial, verdana, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:20px 40px;
  border: 1px solid #ff6;
  border-radius: 25px;
}
.explain{
  display: flex;
  justify-content: center;
} 
.explain p {
  font-family:"Droid Sans", arial, verdana, sans-serif;
  width: 200px;
  text-align: center;
  margin-left: 2%;
  padding: 10px 0 10px 0;
  color: white;
  margin-top: 5%;
}
#move{
  border: 2px solid red;
}
#pause{
  border: 2px solid blue;
}
#shoot{
border: 2px solid green;
}
#four{
  border: 2px solid orange;
}
#double{
  border: 2px solid purple;
}